#Ignore the dataset
#IMPORTANT: make sure that your dataset is stored in a folder with the same as the one specified below


*png
*jpg
*.pyc
*.pyo
*.bin

output/*
stable-diffusion/ti_cat/*
wandb/*
hw2_data/*
